@using BioscoopFrontend.Services
@inherits LayoutComponentBase
@inject LanguageService LangService
@inject NavigationManager Nav

<div class="page">
    <main>
        @if (IsWebsiteRoute())
        {
            <WebsiteNavBar />
        }
        @if (!IsAdminRoute() && !IsWebsiteRoute())
        {
            <div style="position: fixed; top: 10px; right: 10px; z-index: 9999;">
                <LanguageSwitch />
            </div>
        }
        <article @key="LangService.Lang" class="@(IsWebsiteRoute() ? "" : "content px-4")">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LangService.InitAsync();
            LangService.OnChange += OnLanguageChanged;
            StateHasChanged();
        }
    }

    private void OnLanguageChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    private bool IsAdminRoute()
    {
        return Nav.Uri.Contains("/admin-panel", StringComparison.OrdinalIgnoreCase);
    }

    private bool IsWebsiteRoute()
    {
        return Nav.Uri.Contains("/website/", StringComparison.OrdinalIgnoreCase);
    }

    public void Dispose()
    {
        LangService.OnChange -= OnLanguageChanged;
    }
}
